
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
}

.heading {
    text-align: center;
}

.heading>p,.heading> h4 {
    font-size: 1.4rem;
    margin-bottom: 1px;
}

.premain{
    font-weight: 200;
    color: hsl(0, 78%, 62%);
}

.heading, .h4{
    color:  hsl(234, 12%, 34%)
}

.subheading{
    margin-top: 1rem;
}

.subheading > p{
    font-size: 0.85rem;
    color:  hsl(0, 38%, 80%);
    text-align: center;
    margin-bottom: 3rem;
} 

.card{
    padding: 2rem 1rem 1rem 1rem;
    box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border-top-width: 5px;
    border-top-style: solid;
    margin-bottom: 1.2rem;
}

.card > h5{
    color:hsl(234, 12%, 34%)
}

.card > p{
    font-size: 0.85rem;
    color:  hsl(0, 38%, 80%);
}

.card1{
    border-top-color:  hsl(180, 62%, 55%)
}

.card2{
    border-top-color:  hsl(34, 97%, 64%)
}

.card3{
    border-top-color:  hsl(212, 86%, 64%)
}

.card4{
    border-top-color:  hsl(0, 78%, 62%)
}

.cardImage{
    padding:2rem 1rem 0 1rem;
    text-align: end;
}





/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1024px) {

    .container{
        margin-top: 4%;
    } 

    .subheading{
        width: 30rem;
        margin: 1rem auto 0 auto;
    }


    .cardSection{
        display: flex;
        height: 30rem;
        margin-top: 4rem;
    }

    .cardContainer{
        width: 25rem;
    }

    .card1,.card4{
        margin-top: 30%;
    }

    .card1{
        margin-right: 1rem;
        margin-left: 2rem;
    }

    .card4{
        margin-left: 1rem;
        margin-right: 2rem;
    }

    .cardTwoThree{
        padding: 0 1rem;
    }

    .attribution{
        margin-top: 2rem;
    }
} 